@font-face {
    font-family: Renogare;
    src: url("/infopane/res/Renogare-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: Renogare, sans-serif;
    font-size: 32px;
    color: #5e5353;
}

.ticketbg{
    position: absolute;
    top: 0%;
    right: -100px;
}

.card{
    position: absolute;
    top: 0%;
    right: -75px;
    animation: cardslide .5s ease-in .5s 1 normal forwards;
}

.infocontainer{
    width: 640px;
    height: 230px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    right: 35px;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 40% repeat(3, 15%) 15%;
    align-items: center;
}
.infocontainer p{
    text-align: center;
}
.infocontainer .indicator{
    text-align: center;
    color: #9e8d8d;
}

@keyframes cardslide{
    from{
        right: -75px;
    }
    to{
        right: -725px;
    }
}