@font-face {
    font-family: Renogare;
    src: url("/infopane/res/Renogare-Regular.otf") format("opentype");
}

body {
    font-family: Renogare, sans-serif;
    font-size: 46px;
}

.playersbox {
    display: grid;
    /*display: flex;*/
    /*flex-flow: wrap;*/
    /*justify-content: center;*/
}
.playersbox p{
    padding: 5px;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: inline-block;
    background-color: #b1fffc;
}