@font-face {
    font-family: Renogare;
    src: url("/infopane/res/Renogare-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.playercard {
    display: inline-block;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 10px;
    margin: .5px;
    overflow: hidden;
    max-width: 185px;
}

.playercard .header {
    width: 100%;
    background-color: lightskyblue;
    padding-bottom: 5px;
    font-family: 'Renogare', sans-serif;
}

.playercard .header .title {
    text-align: center;
    font-size: large;
}

.playercard .cardtext {
    width: 100%;
    text-align: center;
    display: block;
}

.playercard .cardtext br {
    display: block;
    margin: 3px 0;
}

.playercard .actionline {
    display: block;
    width: 100%;
    text-align: center;
}

.playercard .actionline .actionbutton {
    background-color: lightsalmon;
    margin: .5px;
    border-radius: 10px;
}

.seedTarget {
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px 40px 20px 40px;
    margin: 3px;
    display: inline-block;
}

#bracket {
}
.bracketColumn {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
}
.matchupPair {
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
}