@font-face {
    font-family: Renogare;
    src: url("/infopane/res/Renogare-Regular.otf") format("opentype");
}

body {
    font-family: Renogare, sans-serif;
    font-size: xx-large;
}

.loser * {
    margin-left: auto;
    margin-right: auto;
}

.loser {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
}
.loser p{
    margin-top: auto;
    color:white;
    text-shadow: 2px 3px 4px #505050;
}
.loserbox {
    margin-bottom: auto;
    padding: 10px;
    border: 6px solid #d8b181;
    /*border-radius: 5px;*/
    background-color: #425e7d;
    color: white;
    /*width: 150px;*/
    display: grid;
}